/node_modules
**/*.js
*.pack
.next/trace
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/pages/index.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/index.js
.next/static/webpack/1df64f88aacd8143.webpack.hot-update.json
.next/static/webpack/4c309b571f494fd6.webpack.hot-update.json
.next/static/webpack/8e538c8549fd85f4.webpack.hot-update.json
.next/static/webpack/9d85f1116dc42cba.webpack.hot-update.json
.next/static/webpack/51ac45f4d51fd8ce.webpack.hot-update.json
.next/static/webpack/124bbfae4c8a0786.webpack.hot-update.json
.next/static/webpack/8871b7a407510529.webpack.hot-update.json
.next/static/webpack/baffab98a725e54d.webpack.hot-update.json
.next/static/webpack/f5f1e78c7c5d4cbd.webpack.hot-update.json
.next/static/webpack/f386fb6c1143b90c.webpack.hot-update.json
.next/static/webpack/fd8a6153b4715abd.webpack.hot-update.json
.next/trace
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/pages/index.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/index.js

.next/
